section {
    background-color: #CDCDCD;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

ol {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    padding: 1rem;
    margin: 2rem;


}

#current-study {
    margin: 3rem;
}

#current-study li {
    margin: 2rem;

}

#findMe {
    margin: 4rem;
}

.rrss {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;

    
  
}



#edu-class1 {
    color: black;
    font-weight: 500;
    padding-left: 2rem;


}

#entreParentesis {
    color: #364156;
    font-style: italic;
    font-size: medium;

}

.home-content {
    display: grid;
    grid-template-columns: repeat(3fr , 1);
    flex-direction: column;
    background-color: #DFF8EB;

}
.homeTextContent {
    margin:3rem;
}
.rrssItem {
    margin: 3rem;
    
}
#sectionStudies {
    background-color: white;
}

ul li img {
    display: block;
    margin: 1rem;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}


ul li:hover {
    transform: scale3d(1.3, 1.3, 0.3);
    -webkit-transform: scale3d(1.3, 1.3, 0.3);
    -moz-transform: scale3d(1.3, 1.3, 0.3);
   
}


.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
}