section {
    background-color: #CDCDCD;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

ol {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    padding: 1rem;
    margin: 2rem;


}

#current-study {
    margin: 3rem;
}

#current-study li {
    margin: 2rem;

}

#findMe {
    margin: 4rem;
}

.rrss {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;

    
  
}

.linkedinImg {
    display: flex;
    background-image: url("../components/img/linkedin.png");
    background-size: contain;
    width: 80px;
    height: 80px;
    display: inline-block;
    padding: 10px 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.30);
}

.gitImg {
    background-image: url("../components/img/git.png");
    width: 80px;
    height: 80px;
    display: inline-block;
    background-size: contain;
    padding: 10px 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.30);
}

.emailImg {
    background-image: url("../components//img/correo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 80px;
    height: 80px;
    display: inline-block;
    padding: 10px 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.30);
}

.linkedinImg {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.30);
}

.studyImg {
    background-image: url("../components/img/study.jpeg");
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 300px;
}


#edu-class1 {
    color: black;
    font-weight: 500;
    padding-left: 2rem;


}

#entreParentesis {
    color: #364156;
    font-style: italic;
    font-size: medium;

}

.home-content {
    display: grid;
    grid-template-columns: repeat(3fr , 1);
    flex-direction: column;
    background-color: #DFF8EB;

}
.homeTextContent {
    margin:3rem;
}
.rrssItem {
    margin: 3rem;
    
}
#sectionStudies {
    background-color: white;
}